<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for crash reporting and app update notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- For developer connection Wi-Fi access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Voice transcription -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />

    <!-- List reordering effects -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MicroPebbleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:supportsRtl="true"
        android:theme="@style/Theme.MicroPebble"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute, newApi"
        android:appComponentFactory="com.matejdro.micropebble.di.ComponentFactory"
        tools:replace="android:appComponentFactory">
        <profileable android:shell="true" />

        <!--
            Compose handles all of those config changes for us, so for 100% compose app, we do not need to recreate the activity.

            singleInstancePerTask + PROPERTY_SUPPORTS_MULTI_INSTANCE_SYSTEM_UI allows app to be launched in multiple instances
            side-by-side. Disable if this is not desired.
            See https://developer.android.com/develop/ui/compose/layouts/adaptive/support-multi-window-mode#multi-instance
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|locale|layoutDirection|density"
            android:exported="true"
            android:launchMode="singleInstancePerTask"
            android:theme="@style/Theme.MicroPebble.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- PBW Install -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content"
                      android:host="*"
                      android:mimeType="*/*"
                      android:pathPattern=".*\\.pbw" />
            </intent-filter>
            <!-- PBZ Install -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content"
                      android:host="*"
                      android:mimeType="*/*"
                      android:pathPattern=".*\\.pbz" />
            </intent-filter>
            <!-- PBW/PBZ Install from non-direct content file providers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="binary/octet-stream" />
            </intent-filter>
            <intent-filter android:label="@string/watchapps">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="micropebble" android:host="watchapps" />
            </intent-filter>
            <property
                android:name="android.window.PROPERTY_SUPPORTS_MULTI_INSTANCE_SYSTEM_UI"
                android:value="true" />
        </activity>

        <provider
            android:authorities="com.getpebble.android.provider.basalt"
            android:name="io.rebble.libpebblecommon.pebblekit.classic.PebbleKitProvider"
            tools:ignore="ExportedContentProvider"
            android:exported="true" />

        <provider
            android:authorities="com.matejdro.micropebble.pebblekit"
            android:name="io.rebble.libpebblecommon.pebblekit.two.PebbleKitProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <provider
            android:name=".logging.LogFileProvider"
            android:authorities="com.matejdro.micropebble.logs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logging_file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
